{
  "discord": {
    "token": "",
    "owner": "",
    "channel": ""
  },
  "bank": {
    "cost": 0,
    "id": "",
    "password": ""
  },
  "account": {
    "password": ""
  },
  "remotedriver": {
    "enable": false,
    "host": ""
  },
  "headless": false,
  "dsn": ""
}