{
  "discord": {
    "token": "",
    "owner": "",
    "channel": ""
  },
  "bank": {
    "cost": 0,
    "id": "",
    "password": ""
  },
  "account": {
    "password": ""
  },
  "selenium": {
    "use_remote": false,
    "host": "",
    "use_headless": false
  },
  "dsn": ""
}